name: Create a Release 4 Maui iOS Binding

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release 版本号（例：v1.0.0）'
        required: true

jobs:
  build_framework:
    name: Create RiveRuntime.xcframework ${{ github.event.inputs.version }}
    runs-on: ghcr.io/cirruslabs/macos-runner:sonoma
    outputs:
      checksum: ${{steps.get_checksum.outputs.checksum}}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Configure venv
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Add rive_build.sh to PATH
        shell: bash
        run: echo "${{github.workspace}}/submodules/rive-runtime/build" >> $GITHUB_PATH

      - name: Installing pre-requisites
        run: |
          set -x
          # Install some dependencies & premake5
          brew install ninja
          curl https://github.com/premake/premake-core/releases/download/v5.0.0-beta2/premake-5.0.0-beta2-macosx.tar.gz -L -o premake_macosx.tar.gz
          tar -xvf premake_macosx.tar.gz 2>/dev/null
          rm premake_macosx.tar.gz
          mkdir bin
          sudo chmod a+x premake5
          cp premake5 bin/premake5
          sudo mv premake5 /usr/local/bin
          pip3 install ply

      - name: Select Xcode 16.1
        run: sudo xcodes select 16.1
      
      - name: Install all Xcode platforms
        run: xcodebuild -downloadAllPlatforms

      - name: Build everything (using the cache, we should make an archive of course)
        run: ./scripts/build.sh all release

      - name: Update Marketing versions
        run: agvtool new-marketing-version ${{ github.event.inputs.version }}

      - name: Upload versionFiles
        uses: actions/upload-artifact@v4
        with:
          name: version-files
          path: |
            RiveRuntime.xcodeproj/project.pbxproj
            Source/Info.plist
            Tests/Info.plist

      - id: build_frameworks
        name: Build frameworks
        run: sh ./scripts/build_framework.sh -c Release

      - id: zip
        name: Zip the framework
        # --symlinks is critical here to retain the structure of a macos framework.
        run: zip --symlinks -r RiveRuntime.xcframework.zip RiveRuntime.xcframework
        working-directory: ./archive

      - id: get_checksum
        name: Add the checksum of the zip file into our environment
        run: echo "::set-output name=checksum::$(swift package compute-checksum archive/RiveRuntime.xcframework.zip)"

      - name: Upload xcFramework
        uses: actions/upload-artifact@v4
        with:
          name: RiveRuntime.xcframework.zip
          path: archive/RiveRuntime.xcframework.zip
        
  publish_release:
    name: Publish framework
    runs-on: macos-14
    needs: [build_framework]
    steps:
      - name: Download framework artifact
        uses: actions/download-artifact@v4
        with:
          name: RiveRuntime.xcframework.zip

      - name: Download podspec file
        uses: actions/download-artifact@v4
        with:
          name: RiveRuntime.podspec

      - name: Download PrivacyInfo file
        uses: actions/download-artifact@v4
        with:
          name: PrivacyInfo.xcprivacy

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            RiveRuntime.xcframework.zip
            RiveRuntime.podspec
            PrivacyInfo.xcprivacy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
